.chat-side
  .side-header
    .side-username
      .name-item
        aaa
      .icon-item
        .edit
          = link_to "#" do
            = icon('fas','edit')
        .haguruma
          = link_to "#" do
            = icon('fas', 'cog')
        
  .side-main
    .groups-room
      .group
        %h3.group-name test
        %p.group-messsage 12345678
      .group
        %h3.group-name exam
        %p.group-messsage 87654321
    




  